/* Id of task-container */
#taskContainer{
    width: 1000px;
    max-width: 90vw;
    margin: 1rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
/* Class of task*/
.task {
    box-sizing: border-box;
    width: calc(33.333333% - .5rem);
    border: solid 1px purple;
    margin-bottom: .35rem ;
    background-color: hsla(271, 76%, 53%, 0.183);
    border-radius: 1rem;
    text-align: center;
    padding: .35rem;
}

.task > h3 {
    margin: .5rem;
}
.task > p {
    margin: .25rem 0;
}